<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pedidos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let pedido of pedidos">
    <ion-card-header>
      <strong>
        Cod. pedido {{ pedido.id }}
      </strong>
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let item of pedido.itens">
        <h2>{{item.produto.nome}}</h2>
        <p><strong>Valor: </strong>{{item.produto.preco | currency}}</p>
        <p><strong>Qtd: </strong>{{item.quantidade}}</p>
        <p item-end><strong>SubTotal: </strong> {{item.produto.preco * item.quantidade | currency}}</p>
      </ion-item>
      <ion-item>
        <h2>Pagamento: {{ pedido.pagamento.estado }}</h2>
      </ion-item>
      <ion-item>
        <h2>Total</h2>
        <h2 item-end>{{pedido.valorTotal | currency}}</h2>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
